@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');


*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.box{
     position: relative;
     border-radius: 20px ;
     transform-style: preserve-3d;
     transform: perspective(1000px);
}

.box .card{
    position: relative;
    background: rgba(255, 255, 255, 0,1);
    width: 300px;
    min-height: 400px;
    backdrop-filter: blur(10px);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0,5);
    border-top: 1px solid rgba(255, 255, 255, 0,75);
    border-left: 1px solid rgba(255, 255, 255, 0,75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
    /* transform: perspective(1000px); */
}

.elements {
    position: absolute;
    top: 50px;
    left: -30px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0,1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0,5);
    border-top: 1px solid rgba(255, 255, 255, 0,75);
    border-left: 1px solid rgba(255, 255, 255, 0,75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);

}

.elements.bg::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(/img/left-quote.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;


}

.box:hover .elements.bg::before{
    opacity: 1;

}

.elements.imgBx{
    top: 0;
    left: initial;
    right: 60px;
    width: 120px;
    height: 120px;
    padding: 10px;
    transform: translateZ(120px);



}

.elements.imgBx img {
    position: absolute;
    width: calc(100% - 1px);
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0,5);
    border-top: 1px solid rgba(255, 255, 255, 0,75);
    border-left: 1px solid rgba(255, 255, 255, 0,75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transition: 0.5s;


}

.box:hover .elements.imgBx img {
    opacity: 1;
}

.elements.name {
    top: 234px;
    left: initial;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    transform: translateZ(100px);
    background: transparent;
    backdrop-filter: blur(0px);
    border: none;
    box-shadow: none;
    color: antiquewhite;
    font-weight: 500;
    transition: 0.5s;
    opacity: 0;

    transition-delay: 0.24s;

}

.box:hover .elements.name{
    top: 135px;
    opacity: 1;

}

.elements.content{
    top: initial;
    left: initial;
    bottom: 0;
    right: -20px;
    width: 85%;
    min-height: 200px;
    padding: 10px;
    transform: translateZ(180px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

.elements.content p{
    position: relative;
    color: antiquewhite;
    font-size: 0.85em;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0.5s;


}

.box:hover .elements.content p{
    opacity: 1;

}

